/*
 * Arm SCP/MCP Software
 * Copyright (c) 2021, Arm Limited and Contributors. All rights reserved.
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/* base SCP .dtsi file for juno boards */

/* must be first include */
#include "base.dtsi"

#include "juno_dt_bindings.h"


/ {
    soc {
	    #address-cells = <1>;
	    #size-cells = <1>;

        /* main console uart */
       	uart1: uart@BC0A0000 {
        	compatible = "arm,pl011";
			reg = <FPGA_UART1_BASE 0x1000>;
            current-speed = <115200>;
            clock-frequency = <24000000>;
            pd-id = <POWER_DOMAIN_IDX_SYSTOP>;
/*			clocks = <&uartclk>;*/
/*			interrupts = <7 3>; */
/*			interrupt-names = "rx"; */
			label = "UART1";
	    };


/* another uart to validate generating arrays of elements */
        /* main console uart */
       	uart0: uart@BC0B0000 {
        	compatible = "arm,pl011";
			reg = <0xBC0b0000 0x1000>;
            current-speed = <115200>;
            clock-frequency = <24000000>;
            pd-id = <POWER_DOMAIN_IDX_SYSTOP>;
/*			clocks = <&uartclk>;*/
/*			interrupts = <7 3>; */
/*			interrupt-names = "rx"; */
            label = "UART0";
	    };


    };
};