#
# Core maintainers
#

* tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com

#
# Platform maintainers
#

/product/morello/ deepak.pandey@arm.com chandni.cherukuri@arm.com
/product/neoverse-rd/ thomas.abraham@arm.com vijayenthiran.subramaniam@arm.com
/product/synquacer/ masahisa.kojima@linaro.org
/product/totalcompute/ tintu.thomas@arm.com quockhanh.le@arm.com
/product/rcar/ nroyer@baylibre.com
/product/optee/ vincent.guittot@linaro.org etienne.carriere@st.com

