Checks: "cert-*,clang-analyzer-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,clang-diagnostic-*,-clang-diagnostic-deprecated-declarations,misc-*,-misc-unused-parameters,portability-*"
FormatStyle: "file"
