#
# Core maintainers
#

* tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com

#
# CI maintainers
#

[CI] tarek.el-sherbiny@arm.com girish.pathak@arm.com leandro.belli@arm.com ahmed.gadallah@arm.com mohamed.omarasaker@arm.com wenping.teh@arm.com
/.github/
/.gitlab/

#
# Platform maintainers
#

[Platform]
/product/n1sdp/ manoj.kumar3@arm.com sudipto.paul@arm.com
/product/neoverse-rd/ thomas.abraham@arm.com
/product/synquacer/ masahisa.kojima@linaro.org
/product/totalcompute/ vishnu.banavath@arm.com
/product/rcar/ nroyer@baylibre.com
/product/optee/ vincent.guittot@linaro.org etienne.carriere@st.com

